.checkout{
    display: flex;
    padding: 20px;
}
.checkout_ad{
    width: 100%;
    margin-bottom: 20px;
}
.checkout_title{
padding: 10px;
border-bottom: 1px solid lightgray;
}
.checkout_Product{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom:  20px;
    align-items: center;
}
.checkout_Product_img{
width: 180px;
height: 180px;
object-fit: contain;
}
.checkout_Product_info{
    padding-left: 20px;
}
.checkout_Product_title{
    font-size: 17px;
    font-weight: 800;
}
.checkout_Product_price{
    margin: 20px 0px;
}
.checkout_Product_info button{
    background-color: #f0c14b;
    border: 1px solid;
    padding: 5px 20px;
    border-radius: 20px;
    cursor: pointer;
}
.checkout_right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 100px;
    padding: 20px;
    background-color: whitesmoke;
    border: 1px solid #ddd;
    border-radius: 10px;
    position: sticky;
}
.checkout_right button{
    background-color: #f0c14b;
    border: 1px solid;
    padding: 5px 20px;
    border-radius: 20px;
    cursor: pointer;
}

